{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Home</h1>
	<p>{{ message }}</p>
	<form action ={{ url_for("post") }} method="POST">
		<div class="mb-3 mt-3">
			<label for="comment">Enter your post:</label>
			<textarea class="form-control" rows="5" id="post" name="post"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>


{% for document in documents %}
	<h2>{{document.user}}</h2>
	<h4>{{document.text}}</h4>
{% endfor %}


<p>{{post1}}<p>


{% endblock %}
