{% extends "layout.html" %}

{% block title %}page1{% endblock %}

{% block content %}
  <h1>Search Posts</h1>
	<form action ="/search" method="GET">
		<div class="mb-3 mt-3">
			<label for="text">Enter search:</label>
			<textarea class="form-control" rows="5" id="search" name="search"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
	{% for document in documents|reverse %}
	<h2>{{document.user}}</h2>
	<h4>{{document.text}}</h4>
	{% endfor %}

	{{failmessage}}

{% endblock %}
